*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}

.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}


/* Cart Styles */
.cart_section
{
	width: 100%;
	padding-top: 90px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cart_title
{
	font-size: 30px;
	font-weight: 500;
}
.cart_items
{
	margin-top: 20px;
}
.cart_list
{
	border: solid 1px #e8e8e8;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}
.cart_item
{
	width: 100%;
	padding: 15px;
	padding-right: 46px;
}
.cart_item_image
{
	width: 133px;
	height: 133px;
	float: left;
}
.cart_item_image img
{
	max-width: 100%;
}
.cart_item_info
{
	width: calc(100% - 133px);
	float: left;
	padding-top: 18px;
}
.cart_item_name
{
	margin-left: 7.53%;
}
.cart_item_title
{
	font-size: 14px;
	font-weight: 400;
    color: rgba(0,0,0,0.5);
    text-align: center;
}
.cart_item_text
{
	font-size: 18px;
    margin-top: 35px;
    text-align: center;
}
.cart_item_text span
{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 11px;
	-webkit-transform: translateY(4px);
	-moz-transform: translateY(4px);
	-ms-transform: translateY(4px);
	-o-transform: translateY(4px);
	transform: translateY(4px);
}
.cart_item_price
{
	text-align: right;
}
.cart_item_total
{
	text-align: right;
}

.pesanan{
	width: 100%;
	margin-top: 30px;
	border: solid 1px #e8e8e8;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);

}
.detail_pembeli{
	line-height: 30px;
	border-bottom: 1px solid rgb(221, 217, 217);
}

.detail_pesanan{
	line-height: 30px;
}

.nama, .alamat, .email, .hp{
	font-size: 16px;
}

.r_pembeli, .r_pesanan{
	font-size: 25px;
	padding-top: 30px;
	padding-left: 30px;
}
.btn_c_edit{
	height: 24px;
	line-height: 40%;
	font-size: 13px;
}

.order_total
{
	width: 100%;
	height: 60px;
	margin-top: 30px;
	border: solid 1px #e8e8e8;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	padding-right: 46px;
	padding-left: 15px;
}
.order_total_title
{
	display: inline-block;
	font-size: 14px;
	color: rgba(0,0,0,0.5);
	line-height: 60px;
}
.order_total_amount
{
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	margin-left: 26px;
	line-height: 60px;
}
.cart_buttons
{
	margin-top: 20px;
	text-align: right;
}

.cart_button_clear:hover
{
	border-color: #0e8ce4;
	color: #0e8ce4;
}

